.welcome-to-trailblazer {
    background-image: url('/community/static/media/uploads/.thumbnails/cruk_cs_hero_c_part.jpg/cruk_cs_hero_c_part-2196x1244.jpg');
    background-position: -69% -75%;
    background-repeat: no-repeat;
}

.welcome-to-trailblazer .page-title {
    display: none;
}

.welcome-to-trailblazer .breadcrumbs {
    display: none;
}

.welcome-to-trailblazer .right {
    display: none;
}

.welcome-to-trailblazer .middle {
    width: 75%;
    font-family: Calibri;
    text-align: center;
    margin: 0 auto;
    float: none;
}

.welcome-to-trailblazer .middle h1 {
    font-weight: 100;
    margin-bottom: 5px;
    color: #2e008b;
}

.welcome-to-trailblazer .middle h2 {
    font-weight: 100;
    margin: 0 0 10px 0;
    color: #2e008b;
}

.welcome-to-trailblazer .form-actions {
    background-color: transparent;
    padding: 0;
}

.welcome-form-btn {
    background-color: #ec008c;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    border: none;
}

.welcome-to-trailblazer .form-actions {
    border-top: none;
    display: inline-block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.welcome-to-trailblazer .help-block {
    display: none;
}


.welcome-email-form {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

